@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');
/*
Шрифт для сайта
font-family: 'PT Sans', sans-serif;
*/
/*Стили для всей страницы*/
body{
    font-family: 'PT Sans', sans-serif;
}
.hidden-big{
    display: none;
}

/*Стили для header*/
header{
    padding-top: 30px;
}
.wrap {
    background: #ffffff;
    border-bottom: solid 1px #f3f3f3;
    max-width: 1499px;
    margin: auto;
}
.svg-img {
    margin-right:30px;
    height: 100px;
}
.phone {
    position: absolute;
    top: 70px;
    right: 10px;
}
.phone > h5 .small {
    font-size: .6em;
}
.navbar {
    text-transform: uppercase;
    background-color: #ffffff!important;
}
.navbar a {
    font-size: 16px;
}
.nav-item a.nav-link:hover {
    color: #f78f7d!important;
}
.nav-item .nav-link.active{
    color: #f78f7d!important;
}
.navbar .navbar-brand {
    margin: 0 0 10px 0;
}
.navbar-nav li+li:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    top: 50%;
    left: 0;
    right: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #f78f7d;
    border-radius: 50%;
}
.navbar-nav li {
    position: relative;
    display: block;
    float: left;
    z-index: 1;
}

/*Стили для главного контента*/
.main {
    padding-top: 50px;
}
.wrap-main {
    padding-top: 90px;
}
.main .carousel-indicators {
    bottom: -50px; /* Чем ниже индикаторы тем выше значение */
}
.main .carousel-indicators li {
    border: 1px solid #f78f7d;
}
.main .carousel-indicators li.active {
    background-color: #f78f7d;
}

/*Стили для блока с фотками*/
.img-block {
    padding-top: 30px;
    padding-bottom: 30px;
}
.img-block figure {
    position: relative;
    text-align: center;
    background: #f78f7d;
}

.img-block figure img {
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    width: 100%;

}
.img-block figure:hover img,
.img-block figure img.active {
    opacity: .6;
}

.img-block figure span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 28px;
}
.price-block {
    padding-top: 30px;
    padding-bottom: 30px;
}
.price-block .col-12:first-child {
    border-left: solid 2px #f78f7d;
    max-width: 400px;
}
.price-block .col-12:last-child {
    border: solid 1px rgba(227, 213, 207, .35);
    box-shadow:17px 12px 100px 1px rgba(120,82,76,0.1);
    -webkit-box-shadow:17px 12px 100px 1px rgba(120,82,76,0.1);
    -moz-box-shadow:17px 12px 100px 1px rgba(120,82,76,0.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 50px 50px;
    width: 100%;
}
.price-block h6 {
    font-size: 1.2rem;
}
.price-block .stars {
    font-size: .9rem;
    color: #f78f7d;
    display: block;
    margin-top: 30px;
}
.price-block span {
    font-weight: bolder;
}
.price-block.club{
    padding: 0px;
    padding-left: 20px;
    border-left: solid 2px #f78f7d;
}
.my_button.price {
    margin-top: 50px;
}
.my_button.key {
    margin-top: 30px;
}
.my_button a {
    cursor: pointer;
    font-size:15px;
    text-decoration: none;
    padding:9px 30px;
    color:#f78f7d;
    background-color:#ffffff;
    border-radius:27px;
    border: 1px solid #f78f7d;
}
.my_button.key a {
    background-color:#ffa585;
    color: #ffffff;
    border: 1px solid #ffa585;
}
.my_button a:hover {
    color:#ffffff;
    background-color: #f78f7d;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}

/*Стили для карусели - нижний*/
.carousel-control-next,
.carousel-control-prev {
    width: 5%;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f78f7d' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")!important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f78f7d' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/*Стили для footer*/
footer {
    height: 390px;
    margin-top: 110px;
    color: white;
    background: url("../img/bg_footer.svg") no-repeat center center;
    background-size: auto 100%;
}

footer .soc {
    padding-top: 100px;
    padding-bottom: 50px;
}
footer .soc a {
    font-size: 50px;
    color: #f69789;
    padding: 0 15px;
}
footer .soc a:hover {
    color: #f78f7d;
}
footer .tel {
    padding-bottom: 30px;
}
footer .cop {
    padding-bottom: 50px;
}

/*Стили для станицы клуба*/

.club-list{
    font-size: 1.2rem;
}
.club-list .fa-star{
    color: #ffa585;
    font-size: 1.3em;
    padding: 10px 20px 10px 0px;
}
/* Стили для медиазапросов*/
@media (max-width: 767.98px) {
    header {
        padding-top: 10px!important;
    }
    .img-block figure {
        background: #ffffff;
    }
    .img-block figure img {
        opacity: 1;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        width: 60%;
    }
    .price-block .col-12:first-child {
        border: none;
        max-width: 100%;
    }
    .price-block .col-12 {
        text-align: center!important;
    }
    .price-block .col-12:last-child {
        padding: 0px 0px;
        border: none;
    }
    #eventCalendar{
        max-width: 100%;
        margin: 10px auto;
    }
    footer{
        height: 200px;
    }
    footer .cop {
        padding-bottom: 10px;
    }
}

@media (max-width: 992px){
    header {
        padding-top: 20px;
    }
    header .container-fluid {
        padding-bottom: 10px;
    }
    .main {
        padding-top: 10px;
    }
    .wrap-main {
        padding-top: 40px;
    }
    .wrap-main .mob-left{
        text-align: left!important;
    }
    .navbar-brand {
        display: none;
    }
    .hidden-big{
        display: inline;
    }
    .svg-img {
        margin-right:0;
    }
    .phone {
        display: none;
    }
    .navbar-nav li+li:before {
        display: none;
    }
    .main .carousel-indicators {
        bottom: -30px; /* Чем ниже индикаторы тем выше значение */
    }
    .carousel-indicators li {
        width: 15px;
        height: 3px;
    }    
    #eventCalendar{
        width: 300px;
    }
    footer{
        height: 250px;
    }
    footer .cop {
        padding-bottom: 0px;
    }
}

@media (max-width: 1199.98px) {
    footer {
        height: 250px;
        margin-top: 50px;
    }
    footer .soc {
        padding-top: 3rem;
        padding-bottom: .8rem;
    }
    footer .tel {
        padding-bottom: 0;
    }
    footer .cop {
        padding-bottom: 0;
    }
    footer .soc a {
        font-size: 2.5rem;
    }
    footer h5, footer h6 {
        font-size: 1.1rem;
    }
}

@media (min-width: 2560px) {
    .phone {
        display: none;
    }
}